
footer {
    background-color: #1d9645 !important;
  }
  
  
  
  .carousel-inner {
    
    justify-content: center;
    align-items: center;
      
  }
  .carousel-inner img{
      
    width: 100%;
    max-height:36rem !important;
    object-fit: cover;
    position: relative;
  
  }
  
  
  
  #intro span{
    color: #24c358;
  }
  
  #Paquetes{
    background-color: #78c0e0;
  }
  
  #Paquetes .btn{
    background-color: #24c358;
    color: white;
  }
  
  #Paquetes h5{
    color: #24c358;
  
  
  }
  
  #Paquetes img{
    width: 100%;
    height: 11rem;
    object-fit: cover;
  }
  
  #Paquetes .card {
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); */
    transition: box-shadow 0.4s ease-in-out !important;
  }
  
  #Paquetes .card:hover{
    box-shadow:  10px 20px 10px rgba(0, 0, 0, 0.3) !important;
    
    
  }
  
  
  #Paquetes .btn {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.1s ease-in-out !important;
  }
  
  #Paquetes .btn:hover{
    box-shadow:  2px 2px 8px rgba(0, 0, 0, 0.5), 
    -2px -2px 8px rgba(0, 0, 0, 0.5) !important;
    
  }